import React, { PropTypes } from 'react'
<% if (loginButtons) { %>
import LoginButtons from '../Components/LoginButtonsWrapper'
<% } %>

class <%= pascalCaseName %> extends React.Component {
  render () {
    return (
      <nav className="navbar navbar-default <%= cssClass %>">
        <div className="container-fluid">
          <div className="navbar-header">
            <button type="button" className="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span className="sr-only">Toggle navigation</span>
              <span className="icon-bar"></span>
              <span className="icon-bar"></span>
              <span className="icon-bar"></span>
            </button>
            <a className="navbar-brand" href="/">
              <%= projectName %>
            </a>
          </div>

          <div className="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul className="nav navbar-nav">
              <li><a href="#">Page 1</a></li>
              <li><a href="#">Page 2</a></li>
              <li><a href="#">Page 3</a></li>
            </ul>
            <% if (loginButtons) { %>
            <ul className="nav navbar-nav navbar-right">
              <LoginButtons />
            </ul>
            <% } %>
          </div>
        </div>
      </nav>
    );
  }
}

<%= pascalCaseName %>.propTypes = {

};

<%= pascalCaseName %>.defaultProps = {

};

export default <%= pascalCaseName %>;
